.cardPlus {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 284px;
  height: 160px;
  margin-right: 13px;
  background-color: white;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  height: 160px;
  margin-right: 13px;
  background-color: white;
  border-radius: 10px;
  .time {
    padding-left: 60px;
    color: gray;
    font-size: 13px;
    .date {
      color: black;
      font-size: 25px;
    }
  }

  .top {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
    font-size: 20px;
    .alert {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 62px;
      margin-right: 10px;
      color: #52c41a;
      font-size: 14px;
      border: 1px solid #b7eb8f;
      border-radius: 99px;
    }
  }
  .iconcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    color: gray;
    font-size: large;
  }
}
.steps {
  margin-top: 20px;
  padding: 40px 188px 38px 188px;
  background-color: white;
  border-radius: 10px;
  .content {
    width: 548px;
    height: 460px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
  }
}
